@model RSVP
@{
    ViewData["Title"] = "RSVP";
    Layout = "_Layout";
}
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Names">Names</label>
        <input asp-for="Names" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Attending">Attending?</label>
        <input asp-for="Attending" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="TriTip">How many want Tri-Tip?</label>
        <input asp-for="TriTip" class="form-control"  value="0" min="0"/>
    </div>

    <div class="form-group">
        <label asp-for="Chicken">How many want Chicken?</label>
        <input asp-for="Chicken" class="form-control" value="0" min="0"/>
    </div>

    <div class="form-group">
        <label asp-for="Salmon" >How many want Salmon?</label>
        <input asp-for="Salmon" class="form-control" value="0" min="0"/>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-default"/>
    </div>
</form>
