
@{
    ViewData["Title"] = "Registry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/css/rsvp.css" />

<h1 class="text-center">Registry</h1>
<p>
    We haven't put any kind of registry together yet. Partially because we are lazy, but mostly because we
    don't really need anything. We may put up a registry link here in the future for those of you who can't help but buy a gift, but please don't feel the need to give us anything.
    We just want everybody to have a good time at the wedding.
</p>